.landing {
  height: 600px;
  width: 100%;
}

/* zappa img */

/* #zappaIMG {
    width: 100%;
    max-width: 600px;
    height: auto;
    transform: rotateY(180deg);
    position: fixed;
    right: -50%;
    animation: slide 5s ease-in-out .5s forwards;
  }
  
  @keyframes slide {
    100% {
      right: 0;
    }
  }

  @media only screen and (max-height: 800px) {
    #zappaIMG {
      width: 400px;
      height: 400px;
    }
  }

  @media only screen and (max-height: 300px) {
    #zappaIMG {
      width: 200px;
      height: 200px;
    }
  } */