#score {
  font-family: 'Corben', cursive;
  font-weight: bold;
  font-size: 24px;
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-bottom: 0
}

/* zappa svg */

#zappaSVG {
    width: 400px;
    height: 400px;
    transform: rotateY(180deg);
    position: fixed;
    right: -50%;
    animation: slide 5s ease-in-out .5s forwards;
  }
  
  @keyframes slide {
    100% {
      right: 0;
    }
  }

  @media only screen and (max-width: 500px) {
    #zappaSVG {
      width: 400px;
      height: 400px;
    }
  }