.trivia {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#question {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}

.answers {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 50px);
}

input[type="submit"] {
    width: 100px;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 20px;
}